<p id="notice"><%= notice %></p>

<%= image_tag @pdf.photo.url(:medium) %>
<p>
  <p style="font-size:24px">Loan Info:</p>
</p>

<p>
  <strong>Name:</strong>
  <%= @pdf.name %>
</p>

<p>
  <strong>Loan ammount:</strong>
  <%= @pdf.loan_ammount %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= @pdf.down_payment %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @pdf.intrest_rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @pdf.notes %>
</p>

<%= link_to 'Edit', edit_pdf_path(@pdf) %> |
<%= link_to 'Back', pdfs_path %> |
<%= link_to "Printable Invoice (PDF)", pdf_path("#{@pdf.id}.pdf") %>

